_build
_cbuild
ocaml_generated
generated_doc
sibylfs/generated

_lib

core-ott/*.tex
core-ott/*.aux
core-ott/*.log
core-ott/*.pdf
core-ott/*.lem

main_.ml
public/package-lock.json 
tests/ci_results.xml
tests/csmith/tools/ciValidate
tests/csmith/tools/reValidate
a.out
tests/csmith/**/LOG
trash/**

**/tmp/**
**/playground/**

*.cmx
*.cmo
*.cmi
*.o

*.orig
*.LOCAL
*_LOCAL.ml
*_LOCAL.mli

*.native
*.byte

.*

cbuild
clink
cerberus
cerberus-bmc
cerberus-symbolic
cerberus-prof
cerberus-webserver
webcerb.concrete
webcerb.symbolic

runtime/libc/libc.co
runtime/libc/libm.co

public/include
public/node_modules
public/dist/*.bundle.*
public/dist/src/*
public/dist/short/*
request.log
config.json
cpp_error

bisect*.out
logs
