body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#content {
  width:  100%;
  margin: 0 auto;
}

.editor {
  margin: 2px;
  width:  45%;
  height: 400px;
  border: 1px solid grey;
  display: inline-block;
}

#log {
  margin: 2px;
  width: 90.75%;
  height: 200px;
  border: 1px solid grey;
}
