BasedOnStyle: Google
ColumnLimit: 90
AlignConsecutiveMacros:
  Enabled: true
LineEnding: LF
AlignEscapedNewlines: Right
IndentPPDirectives: BeforeHash
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "<(cn-executable)/"
    Priority: 3
    SortPriority: 3
    CaseSensitive: true
  - Regex: "<(cn-testing)/"
    Priority: 3
    SortPriority: 4
    CaseSensitive: true
  - Regex: "<[[:alnum:].]+>"
    Priority: 2
  - Regex: ".*"
    Priority: 1
    SortPriority: 0
ReflowComments: false
AlignAfterOpenBracket: DontAlign
InsertNewlineAtEOF: true
BinPackArguments: false
BinPackParameters: false
