profile=ocamlformat
ocaml-version=5.2.0

break-before-in=fit-or-vertical
break-cases=vertical
break-collection-expressions=fit-or-vertical
break-fun-decl=wrap
break-fun-sig=wrap
break-infix=fit-or-vertical
break-separators=after
dock-collection-brackets=false
exp-grouping=parens
field-space=loose
if-then-else=fit-or-vertical
indicate-multiline-delimiters=no
indicate-nested-or-patterns=unsafe-no
leading-nested-match-parens
let-binding-spacing=sparse
module-item-spacing=sparse
nested-match=wrap
parens-tuple=always
sequence-style=terminator
type-decl=sparse
wrap-comments=true
space-around-records=true