# headache (https://github.com/Frama-C/headache/) configuration

| ".*\\.lem"     -> frame open:"(*" line:"=" close:"*)"
| ".*\\.ml[il]?\\(\\.[a-z]+\\)*" -> frame open:"(*" line:"*" close:"*)"
| ".*\\.mly\\(\\.[a-z]+\\)*"     -> frame open:"/*" line:"*" close:"*/"
| ".*\\.[ch]"    -> frame open:"/*" line:"*" close:"*/"
